<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="avarda_checkout3_section">
                <group id="my_invoice" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Avarda Customer My Invoice</label>
                    <field id="customer_invoices_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Customer My Invoice Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>avarda/customer_invoices/checkout_active</config_path>
                    </field>
                    <field id="test_mode" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Site Key</label>
                        <config_path>avarda/customer_invoices/checkout_site_key</config_path>
                    </field>
                </group>
            </group>
            <group id="avarda_payments_payments_section">
                <group id="my_invoice" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Avarda Customer My Invoice</label>
                    <field id="customer_invoices_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Customer My Invoice Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>avarda/customer_invoices/payments_active</config_path>
                    </field>
                    <field id="test_mode" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Site Key</label>
                        <config_path>avarda/customer_invoices/payments_site_key</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
